.sml-spacer {
  flex: 0.01;
}

.header-1 {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 1;    
  margin-top: -5px;
}

.header-2{
  padding-right: 199px;
  padding-left: 0px;
}

.container-permission {
  margin-top: 65px;
}
