.sml-spacer {
  flex: 0.01;
}

.header-1 {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 1;    
  margin-top: -5px;
}

.header-2{
  padding-right: 199px;
  padding-left: 0px;
}

.container-permission {
  margin-top: 65px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}