<div class="header-body">
    <mat-toolbar color="primary">
        <span class="sml-spacer"></span>
        <!-- <img cImg align="start" [rounded]="true" src="assets/security.jpg" width="80" /> -->
        <mat-icon class="icon-display">people</mat-icon>
        <span class="mdn-spacer"></span>

        <button mat-button (click)="reRouter('home')">
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
            Home
        </button>
        <button mat-button [matMenuTriggerFor]="account">
            <mat-icon>account_box</mat-icon>
            Account
        </button>
        <mat-menu #account="matMenu">
            <button mat-menu-item (click)="reRouter('permission')">Permissions</button>
            <button mat-menu-item (click)="reRouter('user')">Users</button>
        </mat-menu>
        <button mat-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Log Out
        </button>
        <span class="big-spacer"></span>
        <span>Welcome:</span>
        <span class="min-spacer"></span>
        <span>{{userNameLooged()}}</span>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>notifications</mat-icon>
        </button>
    </mat-toolbar>
</div>