.header {
  background-color: red;
}

.container {
  padding-top: 25px;
  padding-right:70px;
  padding-left: 70px;
  background-color: #e3e3e3;
  //display: list-item;
  //align-items: center;
  //justify-content: center;
  height: 85vh;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
