<div class="body-pages">

    <div class="header-1" id="myHeader">

      <div class="header-2">
        <mat-toolbar color="">
          <!-- <button mat-icon-button (click)="openDialog('')">
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-icon-button (click)="reset()">
            <mat-icon>refresh</mat-icon>
          </button> -->

          <span class="sml-spacer"></span>
          
        </mat-toolbar>
      </div>

    </div>

    <div class="container-permission">

      <div class="mat-elevation-z8">


      </div>
    </div>

  </div>