
<div class="body-pages">
    <p>user worksdddd!sss</p>
    <i class="cib-angular"></i>

    <svg cIcon name="cilListNumbered" width="50" title="Numbered List Icon"></svg>
    <svg cIcon name="cif-ag" width="100" title="Numbered List Icon"></svg>
    <svg cIcon name="cil-people-minus" width="100" title="Numbered List Icon"></svg>
    <i class="cib-myspace" style="width: 100px;" ></i>
    <mat-divider [vertical]="true"></mat-divider>

    <p>user workssssdddd!xxx</p>
    <i class="cib-angular"></i>

</div>