.highlightTableColor{
    background-color: red
  }

  .demo-row-is-clicked {
    background-color: #46277c4d;
    color:  white !important; 
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: #46277c1f;
    color: black;
  }
  