.highlightTableColor{
    background-color: red
  }

  .demo-row-is-clicked {
    background-color: grey;
    color: white;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: grey;
    color: white;
  }
  