<div class="flex-box">

    <form class="example-form" (ngSubmit)="login()" [formGroup]="formLogin">
        <div class="content-credential">
            <div class="content-credential-title">
                <mat-label>Credentials</mat-label>
            </div>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <mat-error>Name is required</mat-error>
                <input matInput placeholder="" formControlName="username">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <mat-error>Password is required</mat-error>
                <input type="password" matInput placeholder="" formControlName="password">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!formLogin.valid">Log In</button>
            <br>
            <div class="content-error-message">
                <mat-label>{{error}}</mat-label>
            </div>
        </div>
    </form>
</div>