/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 95%;
}

body {
    margin: 10px;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}