/* You can add global styles to this file, and also import other style files */

/* HTML */
html,
body {
    height: 96%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-pages {
    padding-top: 35px;
    padding-left: 200px;
    padding-right: 200px;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Mat Table */
.column-uuid {
    width: 20%;
}

.column-action {
    width: 5%;
}


/* Mat Snackbar */
.main-snackbar-error {
    .mat-mdc-snack-bar-actions {
        button {
            color: #f44336 !important;
        }
    }
}
.main-snackbar-info {
    .mat-mdc-snack-bar-actions {
        button {
            color: #ffd740 !important;
        }
    }
}